{% extends "base.html" %}
{% block title %}History{% endblock %}

{% block style_css %}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/history.css')}}">
{% endblock %}

{% block content %}
<div class="history-box">
    <h2 id="history">Voting History</h2>

    {% if history_data %}
        {% for event in history_data %}
            <div class="event-block">
                <h3 class="event-title">{{ event.event_title }}</h3>
                {% for role in event.roles %}
                    <div class="role-history">
                        <h4>Role: {{ role.role }}</h4>
                        <p>You Voted: <strong>{{ role.user_vote }}</strong></p>
                        <p>Winner{% if role.winners|length > 1 %}s{% endif %}:
                            <strong>{{ role.winners | join(', ') }}</strong>
                        </p>
                    </div>
                {% endfor %}
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>No voting history available.</p>
    {% endif %}
</div>

{% endblock %}